body{
    font-family: Arial, Helvetica, sans-serif;
}
td{
    font-family: Arial, Helvetica, sans-serif;
}
th{
    font-family: Arial, Helvetica, sans-serif;
}
.block{
    padding: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
}
@media (max-width: 600px) {
    .p-inputtext, .p-dropdown, .p-textarea, .p-calendar {
        padding-left: 5px;
        width: 200px !important;
        height: 35px;
        font-size: 1rem;
    }
}