<div class=" flex flex-wrap gap-2 ">
    <a (click)="fetchAdvertisementsOnClick('Liked')">
        <p-chip label="Liked" [styleClass]="activeButton === 'Liked' ? 'active-chip' : 'inactive-chip'">
        </p-chip>
        
    </a>
    <a (click)="fetchAdvertisementsOnClick('Following')">
        <p-chip label="Following" 
        [styleClass]="activeButton === 'Following' ? 'active-chip' : 'inactive-chip'">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Favourites')">
        <p-chip label="Favourites" 
        [styleClass]="activeButton === 'Favourites' ? 'active-chip' : 'inactive-chip'">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Visited')">
        <p-chip label="Visited"
        [styleClass]="activeButton === 'Visited' ? 'active-chip' : 'inactive-chip'">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Blocked')">
        <p-chip label="Blocked"
        [styleClass]="activeButton === 'Blocked' ? 'active-chip' : 'inactive-chip'">
        </p-chip>
    </a>
</div>

<div >
    @if (activeButton=='Following') {
        <div class="flex gap-2">
            <a (click)="fetchAdvertisementsOnClick('Following')">
                <p-chip label="Advertisement"
                [styleClass]="followingactiveButton === 'FollowingAdvertisement' ? 'active-chip' : 'inactive-chip'">
                </p-chip>
            </a>
            <a (click)="fetchProfileOnClick('Following')">
                <p-chip label="Profiles"
                [styleClass]="followingactiveButton === 'FollowingProfiles' ? 'active-chip' : 'inactive-chip'">
                </p-chip>
            </a>
        </div>
    }
    @if (activeButton=='Blocked') {
        <div  class="flex gap-2">
            <a (click)="fetchAdvertisementsOnClick('Blocked')">
                <p-chip label="Advertisements"
                [styleClass]="blockedactiveButton === 'BlockedAdvertisements' ? 'active-chip' : 'inactive-chip'">
                </p-chip>
            </a>
            <a (click)="fetchProfileOnClick('Blocked')">
                <p-chip label="Profiles" 
                [styleClass]="blockedactiveButton === 'BlockedProfiles' ? 'active-chip' : 'inactive-chip'">
                </p-chip>
            </a>
        </div>
    }
    
    @if (profile==true) {
        <div class="grid" style="padding-top: 5px;">
            @for (profile of profileList; track $index) {
                <div class="col-12 lg:col-4 sm:col-2 flex flex-wrap justify-content-center md:justify-content-start" >
                    <p-card [style]="{'width':'220px'}">
                        <ng-template pTemplate="body">
                            <div >
                                <div class="flex justify-content-center algin-content-center">
                                    <div  *ngIf="profile.profileImage; else placeholder"
                                        class="logo-container">
                                        <img [src]="'data:image/png;base64,' + profile.profileImage" alt="Logo"
                                        style="width: 50px; height: 50px;" class="logo">
                                    </div>
                                    <ng-template #placeholder>
                                        <div class="logo-placeholder flex justify-content-center algin-content-center" style="width: 50px; height: 50px;">
                                        NA
                                        </div>
                                    </ng-template>
                                </div>
                                <div class="flex justify-content-center algin-content-center" >
                                    @if (profile.brandName && profile.brandName.length>1) {
                                        <label style="font-size: 1rem;">
                                            {{ profile.username.length > 20 ? profile.brandName.substring(0, 20) + '...' : profile.brandName }}
                                        </label>
                                    } @else {
                                        <label style="font-size: 1rem;">
                                            {{ profile.username.length > 20 ? profile.username.substring(0, 20) + '...' : profile.username }}
                                        </label>}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="footer" style="margin: 0px;">
                            <div class="flex justify-content-around gap-2">
                                <p-button (onClick)="visitProfile(profile.id)" icon="pi pi-eye" [outlined]="true" [text]="true" [raised]="true" label="Profile"></p-button>
                                @if (followingProfileView) {
                                    <p-button icon="pi pi-user-plus" [text]="true" [outlined]="true" [raised]="true"  (click)="follower(profile.id)"label="UnFollow"></p-button>
                                } @else {
                                    <p-button icon="pi pi-ban" [text]="true" [outlined]="true" [raised]="true" (click)="block(profile.id)" label="Unblock"></p-button>
                                }
                            </div>
                        </ng-template>
                    </p-card>
                </div> <br>
            }
        </div>
    } @else {
        <div  class="">
            <app-homepage *ngFor="let ad of advertisementsOnClick" [ad]="ad"></app-homepage>
        </div>
        
    }
</div><br>

<br><br>