<div class="footer" style="margin: -8px;">
  <div class="contentOverImage">
    <div class="grid">
      <div class="sm:col-8">
          <h1 style="color: rgb(23, 23, 255);">
            Pai Square 
          </h1>
          <p class="text-2xl" style="margin-bottom: 2rem; width: 95%; color:#1F1D83;">
            Ready to explore and level up your online experience? Pai Square invites you on a journey of discovery! We're redefining how you engage with content. Every click at Pai Square unlocks knowledge, rewards, and empowers you to shape your digital world. Start exploring, earning, and crafting your ideal online experience today!
          </p>
      </div>
      <div class="sm:col-4">
        <h2 class="text-3xl" style="margin:0px;">Contact Us</h2>
        <p class="text-3xl" style="margin:0px;">paisquare.advertisements&#64;gmail.com</p>
        <br>
        <div class="flex gap-4" style="margin-top: 10px;">
          <a href="https://www.instagram.com/paisquare.views" target="_blank">
              <img src="../../../assets/images/landingPage/instaIcon.png" class="socialMediaIcons" alt="Instagram">
          </a>
          <a href="https://www.facebook.com/profile.php?id=61554889715098" target="_blank">
              <img src="../../../assets/images/landingPage/fbNewICon.png" class="socialMediaIcons">
          </a>
          <a href="https://x.com/paisquare_views" target="_blank">
              <img src="../../../assets/images/landingPage/twitterIcon.png" class="socialMediaIcons">
          </a>
          <a href="https://www.youtube.com/@paisquare_views" target="_blank">
              <img src="../../../assets/images/landingPage/YoutubeIcon.png" class="socialMediaIcons">
          </a>
        </div>
      </div>
    </div>
    <div class="flex gap-4" style="margin-top: 5px;">
      <a routerLink="/privacyandpolicy" label="Privacy Policy" class="text-1.5xl">Privacy Policy</a>
      <a routerLink="/termsandconditions" label="Terms And Conditions" class="text-1.5xl">Terms And Conditions</a>
    </div>  
    <br>
  </div>    
</div>