
.footer {
  background-color: rgb(69, 134, 255); /* Blue background color */
  width: 100%; /* Full width */
  height: 100%; /* Height adjusts to content */
  padding: 20px; /* Add some padding */
  box-sizing: border-box; /* Ensure padding is included in width/height */
  text-align: center; /* Center-align text */
  position: relative; /* Default positioning */
  bottom: 0; /* Stick to the bottom */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
}
.contentOverImage{
    padding-left: 5%;
}

.logo {
    height: 60px;
    width:60px;
    align-items:left;
}
 

.socialMediaIcons{
    height: 40px;
    width: 40px;
    
}
label{
    color: black;
}


.textBlack {
    color: white;
}


::ng-deep .p-button.p-button-link {
    border: none;
    box-shadow: none;
    color: black;
    padding-left: 0px;
    font-size: x-large;
    font-weight: 600;
}
::ng-deep .p-button.p-button-link.text-5xl-white {
    color: rgb(11, 11, 11);
}

