
.footer {
  background-color: rgb(69, 134, 255); /* Blue background color */
  padding: 20px; /* Add some padding */
  width: 100%;
}

.logo {
    height: 60px;
    width:60px;
    align-items:left;
}
 

.socialMediaIcons{
    height: 40px;
    width: 40px;
    
}
label{
    color: black;
}


.textBlack {
    color: white;
}


::ng-deep .p-button.p-button-link {
    border: none;
    box-shadow: none;
    color: black;
    padding-left: 0px;
    font-size: x-large;
    font-weight: 600;
}
::ng-deep .p-button.p-button-link.text-5xl-white {
    color: rgb(11, 11, 11);
}

