
<div class="grid header">
    <p-toolbar class="col-12">
        <div class="p-toolbar-group-start">
            <button  *ngIf="!isMobileView" class="btn"  (click)="toggleSidebar()" class="menu-button">
                <i class="pi pi-bars"
                 style="font-size: 2rem;"></i>
            </button>
        </div>
        <div class="p-toolbar-group-center">
            <a style="color: #85B6FF;" routerLink="/advertiser">{{userName}}</a>
        </div>
        <div class="p-toolbar-group-end">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input 
                    pInputText 
                    placeholder="Search"
                    (keyup.enter)="onSearch($event)" 
                />
            </span>
        </div>
    </p-toolbar>
</div>

<div class="grid body">
    @if (isSidebarVisible) {
        <div class="col-12 md:col-2 sm:col-0 left-content">
            <p-tree [value]="nodes" [style]="{'border': 'none'}" #tree class="w-full md:w-30rem">
                <ng-template let-node pTemplate="url">
                    <a (click)="componentViewMethod(node.data)" rel="noopener noreferrer" 
                    class="text-700 hover:text-primary">{{ node.label }}</a>
                </ng-template>
                <ng-template let-node pTemplate="default">
                    <b>{{ node.label }}</b>
                </ng-template>
            </p-tree>
        </div>
    }
    <div class="col-12 md:col-7 sm:col-12 middle-content" style="background-color: rgba(239, 242, 245, 0.877); border-radius: 5px; margin-top: 5px;">
         @if (querySearch) {
                @if (advertisements.length > 0) {
                    <app-homepage
                    *ngFor="let ad of advertisements"
                    [ad]="ad"
                ></app-homepage>
                } @else {
                    <p>No advertisements found for your query.</p>
                }

            } @else {
                <router-outlet></router-outlet>
            }
    </div>
    <br><br><br><br>
    <div class="col-12 md:col-3 sm:col-0 right-content" id="content" *ngIf="!isMobileView">
            <img src="../../assets/images/rightad.jpg" width="300px"/>
    </div>
</div>
    
<br><br><br><br>
