h4{
    font-family: Arial, Helvetica, sans-serif;
}
button{
  border: none;
  cursor: pointer !important;
}
#id{
    font-size: x-small;
}

:host ::ng-deep .p-button {
  border: none !important;
  background: transparent !important;
  margin: -10px;
  box-shadow: none !important; /* Removes any shadow */
}
.input-group {
  display: flex;
  align-items: center;
  padding: 0px;
}
.flex-grow {
  flex-grow: 1;
}

:host ::ng-deep .p-button:focus {
  outline: none !important; /* Removes the focus outline */
  box-shadow: none !important;
}

.btn-primary{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.custom-toolbar .p-toolbar {
  border: none; /* Remove the border */
}
.threedots{
  margin-right: 0px;
  padding-right: 0px;
}
.brandname{ 
  padding: 16px;
  font-size: 2rem;
}
.footer-icon{
  background-color: white; 
  border-radius: 50%;
  width: 52px;
  height: 52px;
  padding: 10px;
}
.background-footer{
  background-color: #3DB9D5;
  border-radius: 20px 20px 0 0 ;
  width: 9400px; 
  height: 50%; 
  position: absolute; 
  top: -25px;
  z-index: 1;


}
.footer {
  position: relative;
  z-index: 2; 
}
:host ::ng-deep .p-card .p-card-footer {
  padding: 0px 0 0 0;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  :host ::ng-deep .btn-comment-box {
    height: 34px;
  }
  :host ::ng-deep .p-dialog .p-dialog-header {
    padding:0px !important;
    padding-left:1.5px !important;
  }
}
.comment-input {
  flex: 1; /* Makes it take remaining space */
  width: 95% !important; /* Ensures 95% width */
  padding: 8px;
}
:host ::ng-deep .p-dialog .p-dialog-header {
  padding:0px !important;
  padding-left:10px !important;
    
}