<div [ngStyle]="{'background': ad.backGroundColor, 'color': 'white','margin-top':'20px'}" 
    class="p-2 shadow-2  surface-100 border-bottom-1 surface-border 
    ">
    <!-- Header Section with Brand Info -->
    <div>
        <div class="grid">
            <div class="col-10 flex">
                <div class="flex align-items-center">
                    <div
                      *ngIf="ad.advertiser.profileImage; else placeholder"
                      class="logo-container">
                        <img [src]="'data:image/png;base64,' + ad.advertiser.profileImage" routerLink="" alt="Logo"
                        style="width: 35px; height: 30px; padding-left: 5px; margin-top: -10px;" class="logo">
                    </div>
                    <ng-template #placeholder>
                    </ng-template>
                  </div>
                  
                <div>
                    <label class="brandname goldColor" style="padding-left: 10px; margin-top: 100px;  padding-bottom: 0px;">{{ad.brandname}}</label>
                </div>
            </div>
            <div class="col-2">
                <div class="flex justify-content-end align-items-center" style="padding: 10px;">
                    @if (ad.location.length > 3) {
                        <a (click)="location.toggle($event)" style="cursor: pointer;  float: left;">
                            <i class="pi pi-map-marker" style="font-size: 2rem"></i>
                        </a>
                    }
                    <a (click)="op.toggle($event)" style="cursor: pointer;">
                        <i class="pi pi-ellipsis-v" style="font-size: 2rem"></i>
                    </a>
                </div>
                
            </div>
            
        </div>
    </div>

    <!-- Card Body with Advertisement Info -->
    <div class="grid" style="padding-left: 5px;">
        <div class="col-12 flex">
            <label style="font-size: 1.2rem; "  [innerHTML]="ad.description"></label>
        </div>
        
    </div>

    <!-- Footer Section with Interactions -->
    <div>
        <div class="flex gap-30">
            <!-- Like Button -->
            <div class="flex flex-column justify-content-center align-items-center" style="flex: 1;">
                <div class="footer-icon">
                    <a (click)="like(ad.id)" id="likebotton" type="submit" name="post_id">
                        <i class="pi" [ngClass]="{'pi-thumbs-up-fill': ad.likes.includes(userId), 'pi-thumbs-up': !ad.likes.includes(userId)}"
                            style="font-size: 2rem; color: blue;"></i>
                    </a>
                </div>
                <div>
                    <label class="goldColor" style="padding-top: 0px;">{{ad.likes.length}} {{ad.likes.length == 1 ? 'Like' : 'Likes'}}</label>
                </div>
            </div>

            <!-- Follow Button -->
            <div class="flex flex-column justify-content-center align-items-center" style="flex: 1;">
                <div class="footer-icon">
                    <a (click)="follower(ad.advertiser.id)" name="post_id">
                        <i class="pi" [ngClass]="{'pi-heart-fill': followerslist.includes(ad.advertiser.id), 'pi-heart': !followerslist.includes(ad.advertiser.id)}"
                            style="font-size: 2rem; color: blue;"></i>
                    </a>
                </div>
                <div>
                    <label class="goldColor">{{ followerslist.includes(ad.advertiser.id) ? 'Following' : 'Follow' }}</label>
                </div>
            </div>

            <!-- Share Button -->
            <div class="flex flex-column justify-content-center align-items-center" style="flex: 1;">
                <div class="footer-icon">
                    <a role="button" (click)="Shareadvertisement(ad.id)" data-toggle="modal" data-target="#share"
                        class="btn btn-primary" style="border: none; background: none; color: rgb(17, 0, 255);">
                        <i class="pi pi-share-alt" style="font-size: 2rem"></i>
                    </a>
                </div>
                <div>
                    <label class="goldColor">Share</label>
                </div>
            </div>

            <!-- Visit Button -->
            <div class="flex flex-column justify-content-center align-items-center" style="flex: 1;">
                <div class="footer-icon">
                    <a (click)="visited(ad.id,ad.url)" href="{{ad.url}}" target="_blank" style="border:none;">
                        <i [ngStyle]="{'color': ad.visiteduser.includes(userId) ? 'blue' : 'black'}"
                            style="border: none;" role="button" class="pi pi-link" style="font-size: 2rem"></i>
                    </a>
                </div>
                <div>
                    <label class="goldColor">{{ad.visitscount}} Visits</label>
                </div>
            </div>

            <!-- Comment Button -->
            <div class="flex flex-column justify-content-center align-items-center" style="flex: 1;">
                <div class="footer-icon">
                    <a (click)="commentlist(ad.id)" aria-expanded="false">
                        <i [ngStyle]="{'color': ad.commenteduser.includes(userId) ? 'blue' : 'black'}"
                            style="border: none;" role="button" class="pi pi-comments" style="font-size: 2rem"></i>
                    </a>
                </div>
                <div>
                    <!--{{ad.commenteduser.length}}-->
                    <label class="goldColor"> Comments</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments Section -->
    <div class="grid ">
        <div class="col-12" *ngIf="currentOpenId == ad.id" style="padding-bottom: 0px;">
            @if (comments.length>0) {
                <div *ngFor="let comment of comments">
                    <div class="grid">
                        <div class="col-6">
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 1.2rem;">{{comment.comment}}</span>
                        </div>
                        <div class="col-6">
                            <span style="font-family: Arial, Helvetica, sans-serif; margin-top: 10px;" class="text-xs">{{comment.lastupdate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        </div>
                    </div>
                </div>
            } @else {
                <label> No Comments found...</label>
            }
            <form #loginform="ngForm" (ngSubmit)="comment(ad.id)">
                <div class="grid">
                    <div class="col-12" style="padding-bottom: 0px;">
                        <div class="p-inputgroup">
                            <input 
                                pInputText 
                                id="commentbox" 
                                name="commentbox" 
                                placeholder="Enter comment here" 
                                [(ngModel)]="commentobj.comment" 
                                class="form-control" 
                                required 
                            />
                            <span class="p-inputgroup-addon">
                                <button type="submit" class="btn-comment-box" style="height: 30px;"
                                    pButton icon="pi pi-angle-right"
                                    [disabled]="!commentobj.comment || commentobj.comment.trim() === ''"></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal for Reporting Advertisement -->
    <p-dialog header="Report" [(visible)]="showReportDialog" [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="header">
            <label class="modal-title" id="reportModel">Report</label>
            
        </ng-template>
        <ng-template pTemplate="body">
            <h4 style="color: rgb(255, 35, 35);">{{reportmessage}}</h4>
            <div class="form-check" *ngFor="let option of options">
                <input class="form-check-input" type="radio" name="radio" [id]="option.id" [(ngModel)]="selectedOption"
                    [value]="option.value">
                <label class="form-check-label" [for]="option.id">{{ option.label }}</label>
            </div>
            <div>
                <input class="form-check-input" type="radio" name="radio" id="none" [(ngModel)]="selectedOption"
                    value="none" data-toggle="collapse" data-target="#collapsetextbox" aria-expanded="false"
                    aria-controls="collapsetextbox">
                <label class="form-check-label" for="none">Other</label>
            </div>
            <div *ngIf="selectedOption === 'none'">
                <input class="form-control" type="text" [(ngModel)]="selectOptionText" />
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="justify-content-between">
                <p-button (click)="Reportadvertisement(advertisementId)" class="btn btn-primary">Report Advertisement</p-button>
            </div>
        </ng-template>
    </p-dialog>

    <!-- Overlay Panel for Additional Actions -->
    <p-overlayPanel #op>
        <ng-template pTemplate="content">
            <div>
                <p-button (onClick)="visitProfile(ad.advertiser.id)" label="Visit Profile"></p-button>
            </div><br>
            <div>
                <p-button (click)="block(ad.advertiser.id)">
                    {{ blockedlist.includes(ad.advertiser.id) ? 'Unblock' : 'Block' }}
                </p-button>
            </div><br>
            <div>
                <p-button (click)="showReportDialogBox(ad.id)">
                    Report
                </p-button>
            </div><br>
            <div>
                <p-button (click)="favourite(ad.id)">
                    {{ ad.favourites.includes(userId) ? 'Remove from favourites' : 'Add to favourites' }}
                </p-button>
            </div><br>
            @if(ad.advertiser.id == userId){
                <p-button (click)="editAdvertisement(ad.id)">
                    Edit
                </p-button>
            }
        </ng-template>
    </p-overlayPanel>
    <p-overlayPanel #location>
        <ng-template pTemplate="content">
            <textarea  pInputTextarea rows="5" disabled="true" [value]="ad.location"
                 type="text" style="font-weight: 30px; color: black; size: 12.5rem; height: 120px;" 
            ></textarea><br>
        </ng-template>
    </p-overlayPanel>
</div>
