
@if (!this.profileFound && this.profile.accountType==='advertiser') {
    <span style="font-size: 1.2rem; color: #cccccc;">No profile found </span>
} @else {
    
    <div class="container">
        <div class="grid">
            <div class="col-12 md:col-6 sm:col-12 flex justify-content-center align-items-center">
                <img [src]="'data:image/png;base64,' + profile.profileImage" alt="Profile Image"
                width="250" height="250" style="border-radius: 50%; border: 2px solid rgb(1, 48, 255);"/>    
                 
            </div>
            <div class="col-12 md:col-6 sm:col-12" style="padding-left: 20px;">
                <div class="brandName" >
                    <span class="goldColor" >{{profile.brandName}}</span>
                </div>
                <div class="brandTagLine" *ngIf="profile.brandTagLine">
                    Tagline: <p-tag severity="secondary"  value="{{profile.brandTagLine}}"></p-tag>
                </div>
                <div class="brandDescription" *ngIf="profile.brandDescription" style="padding-top: 8px;">
                    <span  >{{profile.brandDescription}}</span>
                </div>
                <div class="pairs" *ngIf="profile.website"  style="padding-top: 8px;">
                    <a href="{{profile.website}}">{{profile.website}}</a>
                </div>
                <div class="pairs flex align-items-center" style="padding-top: 8px;">
                    <div class="flex gap-3">
                        <label>Rating</label>
                        <div class="justify-content-between">
                            <!-- Two-way binding to display and update the rating -->
                            <p-rating [(ngModel)]="profile.rating" 
                                      [cancel]="false" 
                                      (onRate)="saveRating(advertiserId)"></p-rating>
                        </div>
                        <span style="font-size: 0.7rem; font-family: Arial, Helvetica, sans-serif;" class="flex justify-content-center align-items-end">{{profile.noOfRating}} Ratings</span>
                    </div>
                </div>
                <div class="flex gap-2 justify-content-start "  style="padding-top: 8px;" >
                    @if(profile.userId==+userId){
                        <p-button label="Insights" [outlined]="true" (onClick)="navigateToAdvertiserReports()" ></p-button>
                    } @else{
                        <p-button  (click)="openChat(profile.userId, profile.username)">
                            Chat
                        </p-button>
                        <div class="flex flex-column justify-content-center align-items-center" style="flex: 1;">
                            <p-button (click)="follower(advertiserId)" name="post_id">
                                <span class="goldColor">
                                    {{ followerslist.includes(+advertiserId) ? 'Following' : 'Follow' }}
                                </span>
                            </p-button>
                        </div>
                    }
                    
                </div>
                
                <br>
                <div class="flex gap-3"  style="padding-top: 8px;">
                    <div *ngIf="profile.youtube">
                        <a href="{{profile.youtube}}" target="_blank">
                            <i class="pi pi-youtube" style="font-size: 2rem; color: red;"></i>
                        </a>
                    </div>
                    <div *ngIf="profile.facebook">
                        <a  href="{{profile.facebook}}" target="_blank">
                            <i class="pi pi-facebook" style="font-size: 2rem; color: blue;"></i>
                        </a>
                    </div>
                    <div *ngIf="profile.instagram">
                        <a  href="{{profile.instagram}}" target="_blank">
                            <i class="pi pi-instagram" style="font-size: 2rem; color: pink;"></i>
                        </a>
                    </div>
                    <div *ngIf="profile.twitter">
                        <a  href="{{profile.twitter}}" target="_blank">
                            <i class="pi pi-twitter" style="font-size: 2rem; color: blue;"></i>
                        </a>
                    </div>
                    <div *ngIf="profile.pinterest">
                        <a  href="{{profile.pinterest}}" target="_blank">
                            <i class="pi pi-pinterest" style="font-size: 2rem; color: red;"></i>
                        </a>
                    </div>
                    <div *ngIf="profile.brandLocation">
                        <a (click)="mapDialog()" target="_blank">
                            <i class="pi pi-map-marker" style="font-size: 2rem; color: blue;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p-dialog header="Location" [modal]="true" [(visible)]="showLocationDialog"   [draggable]="false" [style]="{ width: '25rem' }">
            <label style="font-weight: 500;">Main Brand Located</label>
            <div>
                <label>{{profile.brandLocation}}</label>
            </div>
            <br>
            <div>
                <label style="font-weight: 500;">franchises</label>
                <div>
                    <label>{{profile.pinCodes}}</label>
                </div>
            </div>
            <br>
            <div class="flex justify-content-end gap-2">
                <p-button label="Close" severity="secondary" 
                [outlined]="true" (click)="showLocationDialog = false" />
            </div>
        </p-dialog>
        <br><br>
        <div class="surface-ground md:px-4 lg:px-4" style="padding: 8px;">
            <div class="grid">
                <div class="col-6 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <div class="block text-500 flex align-items-center justify-content-center font-medium mb-3">
                                    Ads
                                </div>
                                <div class="block text-900 font-medium text-xl">{{advertisementsAvailable}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-6 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Likes</span>
                                <div class="block  text-900 font-medium text-xl">{{getTotalLikes()}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-thumbs-up-fill text-orange-500 text-xl"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Followers</span>
                                <div class="block text-900 font-medium text-xl">{{followersCount}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-heart-fill text-cyan-500 text-xl"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Comments</span>
                                <div class="block text-900 font-medium text-xl">{{getTotalComments()}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-comment text-purple-500 text-xl"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 md:col-6 lg:col-3">
                    <div class="surface-card shadow-2 3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Total Visit</span>
                                <div class="block text-900 font-medium text-xl">{{getTotalvisiteduser()}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-link text-purple-500 text-xl"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    @if(advertisementsAvailable>0){
        <div style="padding-left: 8px;">
            <h1>Advertisements</h1>
            <app-homepage *ngFor="let ads of advertisements" [ad]="ads">
            </app-homepage>
        </div>
        
    } @else {
        <h1>No post available</h1>
    }
    
    </div>
}
