.brandName{
    font-size: 3rem;
}
.brandTagLine{
    font-size: 1rem;
}
.brandDescription{
    font-size: 2rem;
}
.container1{
    padding: 16px;
}
.block{
    padding: 5px;
    padding-bottom: 15px;
}