<p-card header="Advertise">
    <div class="container">
        <div class="form">
            <form #loginform="ngForm" (ngSubmit)="advertisementForm()" class="form container">
                

                <div class="grid">
                    <div class="md:col-6 sm:col-6">
                        <label for="adhead">Brand name</label>
                        <div>
                            <input pInputText type="text" class="form-control"  id="adhead" name="header" placeholder="Enter brand or website name" [(ngModel)]="advertise.brandname" required><br>
                        </div>
                    </div>
                    <div  class="md:col-6 sm:col-6">
                        <label for="adhead">Url</label>
                        <div>
                            <input pInputText  type="text" class="form-control" id="adhead" name="url" placeholder="Paste your URL" [(ngModel)]="advertise.url"><br>
                        </div>
                    </div>
                </div><br>
                <div class="grid">
                    <label for="adhead" class="col-12">Description</label>
                    <div class="col-12">
                        <p-editor [style]="{'height':'320px'}" placeholder="Add description" name="description" [(ngModel)]="advertise.description"></p-editor><br><br>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-3">
                        <label>Enable Location</label>
                    </div>
                    <div class="col-9">
                        <!-- Toggle Button to Enable/Disable Location -->
                         <div>
                            <p-toggleButton 
                                onLabel="On" 
                                offLabel="Off"
                                (onChange)="onLocationToggle($event)">
                            </p-toggleButton>
                         </div>
                         <br>
                        @if(locationEnabled){
                            <label for="Location" class="col-12">Enter Location</label>
                            <div class="col-12">
                                <textarea  pInputTextarea rows="5"
                                style="width: 90%;" type="text" class="form-control" id="Location" name="Location"
                                placeholder="Type here your location to Display on ad"
                                 [(ngModel)]="advertise.location"></textarea><br>
                            </div>
                        }
                    </div>
                </div><br>
                
                
                <div class="grid">
                    <div class="col-12 md:col-3 sm:col-3">
                        <div class="relative backgroundselection" 
                            
                            [ngStyle]="{'background': background1, 'color': 'white'}">
                            <i class="pi pi-plus absolute top-0 right-0 m-2" 
                            [ngClass]="{'pi-check': adBackground === 'background1', 
                            'pi-plus': adBackground !== 'background1'}"
                            (click)="onImageSelect('background1')"></i>
                        </div>
                    </div>
                    <div class="col-12 md:col-3 sm:col-3">
                        <div class="relative backgroundselection" 
                            
                            [ngStyle]="{'background': background2, 'color': 'white'}">
                            <i class="pi pi-plus absolute top-0 right-0 m-2" 
                            [ngClass]="{'pi-check': adBackground === 'background2',
                             'pi-plus': adBackground !== 'background2'}"
                            (click)="onImageSelect('background2')"></i>
                        </div>
                    </div>
                    <div class="col-12 md:col-3 sm:col-3">
                        <div class="relative backgroundselection" 
                            
                            [ngStyle]="{'background': background3, 'color': 'white'}">
                            <i class="pi pi-plus absolute top-0 right-0 m-2" 
                            [ngClass]="{'pi-check': adBackground === 'background3',
                             'pi-plus': adBackground !== 'background3'}"
                            (click)="onImageSelect('background3')"></i>
                        </div>
                    </div>
                    <div class="col-12 md:col-3 sm:col-3">
                        <div class="relative backgroundselection" 
                            [ngStyle]="{'background': background4, 'color': 'white'}">
                            
                            <i class="pi pi-plus absolute top-0 right-0 m-2" 
                               [ngClass]="{'pi-check': adBackground === 'background4',
                                'pi-plus': adBackground !== 'background4'}"
                               (click)="onImageSelect('background4')"></i>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="snippet-actions">
                        <button (click)="showPreviewAdMethod()" pButton type="button" label="Preview ad" icon="pi pi-external-link" class="p-button-secondary"></button>
                    </div>
                </div>
                <label style="color: red;">{{showPreviewAdMethodErrorMethod}}</label><br><br>
                <div class="grid">
                    <label for="adgender" class="md:col-4 sm:col-4 col-form-label">Gender</label>
                    <div class="md:col-8 sm:col-8">
                        <div class="flex align-items-center">
                            <div class="col-3 p-field-radiobutton">
                              <p-radioButton name="gender" value="Male" [(ngModel)]="advertise.gender" inputId="gender1"></p-radioButton>
                              <label for="gender1">Male</label>
                            </div>
                            <div class="col-3 p-field-radiobutton ml-3" style="margin-right: 0px;">
                              <p-radioButton name="gender" value="Female" [(ngModel)]="advertise.gender" inputId="gender2"></p-radioButton>
                              <label for="gender2">Female</label>
                            </div>
                            <div class="col-3 p-field-radiobutton ml-3" style="margin-right: 0px;">
                              <p-radioButton name="gender" value="Others" [(ngModel)]="advertise.gender" inputId="gender3"></p-radioButton>
                              <label for="gender3">Others</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="md:col-6 sm:col-6">
                        <label for="adhead">Enter hashtags</label>
                        <div>
                           <p-chips [(ngModel)]="advertise.hashtags" separator="," placeholder="Maximum 5 items" name="hashtags"></p-chips>
                        </div>
                    </div>
                    <div class="md:col-6 sm:col-6">
                        <label for="adcategory">Category</label>
                        <div>
                            <p-dropdown optionLabel="name" placeholder="Select food Category" name="Category"></p-dropdown>
                        </div>
                    </div>
                </div><br>
                
                <div *ngIf="paiChecked" class="grid">
                    <div class="md:col-6 sm:col-6">
                        <label for="adhead">Pai</label>
                        <div>
                            <input pInputText type="number" class="form-control" id="adsilver" name="silver" placeholder="Enter total Pai's" [(ngModel)]="advertise.pai"><br>
                        </div>
                    </div>
                    <div class="md:col-6 sm:col-6">
                        <label for="adhead">Rate per Click</label>
                        <div>
                            <input pInputText type="number" class="form-control" id="adsilver" name="silverclick" placeholder="Enter Pai's per click" [(ngModel)]="advertise.paiperclick"><br>
                        </div>
                    </div> 
                </div>   
                <div *ngIf="paisaChecked" class="grid">
                    <div class="md:col-6 sm:col-6">
                        <label for="adhead">Paisa</label>
                        <div>
                            <input pInputText type="number" class="form-control" id="admoney" name="money" placeholder="Enter money" [(ngModel)]="advertise.paisa"><br><br>
                        </div>
                    </div>
                    <div  class="md:col-6 sm:col-6">
                        <label for="adhead">Rate Per Click</label>
                        <div>
                            <input pInputText type="number" class="form-control" id="admoney" name="moneyclick" placeholder="Enter amount per click" [(ngModel)]="advertise.paisaperclick"><br>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="md:col-6 sm:col-6">
                        <label for="adhead">District</label>
                        <div>
                            <input pInputText  type="text" class="form-control" id="adsilver" name="District" placeholder="Target District" [(ngModel)]="advertise.district"><br>
                        </div>
                    </div>
                    <div class="md:col-6 sm:col:6">
                        <label for="adhead">State</label>
                        <div>
                            <input pInputText  type="text" class="form-control" id="adsilver" name="State" placeholder="Target State" [(ngModel)]="advertise.state"><br>
                        </div>
                    </div>
                    <div class="md:col-6 sm:col-6">
                        <label for="adhead">Country</label>
                        <div>
                            <input pInputText  type="text" class="form-control" id="adsilver" name="Country" placeholder="Target Country" [(ngModel)]="advertise.country"><br>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="md:col-6 sm:col-6">
                        <label for="adage">Age</label>
                        <div>
                            <input pInputText type="number" class="form-control" id="adage" name="age" placeholder="Enter age"><br>
                        </div>
                    </div>
                    <div class="md:col-6 sm:col-6">
                        <label for="adlanguage">Language</label>
                        <div>
                            <input pInputText type="text" class="form-control" id="adlanguage" name="Language" placeholder="Enter Language"><br>
                        </div>
                    </div>
                </div><br>
                <div class="grid">
                    <label for="adhead" class="md:col-4 sm:col-4 col-form-label">Select Advertisement Type</label>
                    <div class="md:col-3 sm:col-4">
                        <input type="checkbox" id="paiCheckbox" [(ngModel)]="paiChecked" (change)="paiCheckbox()" name="paiChecked"> Pai's
                    </div>
                    <div class="md:col-3 sm:col-4">
                        <input type="checkbox" id="paisaCheckbox" [(ngModel)]="paisaChecked" (change)="paisaCheckbox()" name="paisaChecked"> Paisa(Money)
                    </div>
                </div>
                <h3 class="text-danger">{{message}}</h3>
                <div class="col-12">
                    <div class="flex justify-content-center align-content-center">
                        <p-button type="submit" href="advertise" class="btn btn-primary">Advertise</p-button>
                    </div>
                </div>  
            </form>
        </div>
    </div>    
</p-card>
<br>

<p-dialog [(visible)]="showPreviewAd"
 [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <div  [ngStyle]="{'background': adBackgroundSelected, 'color': 'white',
            'border-radius':'10px'}" style="padding: 10px; margin: 5px; margin-bottom: 25px;">
                <div >
                    <div class="grid">
                        <div class="col-11">
                            <label class="goldColor" style=" font-size: 2rem;">{{advertise.brandname}}</label>
                        </div>
                        <div class="col-1">
                            @if (locationEnabled) {
                                <i class="pi pi-map-marker" style="font-size: 2rem ;cursor: pointer;" ></i>
                            }
                            <i class="pi pi-ellipsis-v" style="font-size: 2rem; cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                    <div class="card-body">
                            <div>
                                <label style="font-size: 1.2rem;" [innerHTML]="advertise.description"></label>
                            </div> 
                        </div>
                    <br><br>
                </div>
                <br><br>
                <div class="footer" style="padding: 10px;">
                    <div class="grid flex gap-6 justify-content-start">
                        <div class="flex justify-content-center ">
                            <div>
                                <i class="pi pi-thumbs-up" style="font-size: 2rem; color: blue; cursor: pointer; cursor: pointer;"></i>
                                <div>
                                    <label class="goldColor">Like</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <i class="pi pi-heart" style="font-size: 2rem; color: blue; cursor: pointer;"></i>
                            <div>
                                <label class="goldColor">Share</label>
                            </div>
                        </div>
                        <div>
                            <i class="pi pi-share-alt " style="font-size: 2rem;color: blue; cursor: pointer; "></i>
                            <div>
                                <label class="goldColor">Follow</label>
                            </div>
                        </div>
                        <div>
                            <i class="pi pi-link" style="font-size: 2rem;color: blue; cursor: pointer;"></i>
                            <div>
                                <label class="goldColor">Visits</label>
                            </div>
                        </div>
                        <div>
                            <i class="pi pi-comments" style="font-size: 2rem;color: blue; cursor: pointer;"></i>
                            <div>
                                <label class="goldColor">Comment</label>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
    </ng-template>
</p-dialog>

