.snippet-content {
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    white-space: pre-wrap;
  }
  
  .snippet-actions {
    margin-top: 16px;
  }
  
  button {
    margin-left: 8px;
  }
  .backgroundselection{
    width:100px;
    height:100px;
  }

:host ::ng-deep .p-dialog .p-dialog-header {
  /* border-bottom: 0 none; */
  background: #ffffff;
  /* color: #495057; */
  padding: 0.2rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

:host ::ng-deep .p-dialog {
  background: #ffffff;
  padding: 0rem;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 50%;
  width: 70%;
}
:host ::ng-deep .p-dialog .p-dialog-content {
  background: #ffffff;
  padding: 0rem;
  padding-left: 10px;
  height: 100%;
  padding-right: 10px;
}
:host ::ng-deep .p-inputgroup-addon {
  padding: 0rem;
  width: 50px;
}
:host ::ng-deep .small-dropdown .p-dropdown {
  width: 70px !important;
  height: 35px !important;
}
:host ::ng-deep .BrandNameCSS{
  width: 100% !important;
}