<p-card header="Advertise">
    <div class="container">
        <div class="form">
            <form #loginform="ngForm" (ngSubmit)="advertisementForm()" class="form container">
                <div class="grid">
                    <div class="col-12 md:col-6 sm:col-6">
                        <label for="adhead">Brand name</label>
                        <div>
                            <input pInputText type="text" class="form-control BrandNameCSS"  id="adhead" name="header" placeholder="Enter brand or website name" [(ngModel)]="advertise.brandname" required><br>
                        </div>
                    </div>
                    <div  class="col-12 md:col-6 sm:col-6">
                        <label for="adhead">Url</label>
                        <div class="p-inputgroup">
                            <!-- Dropdown on the left -->
                            <span class="p-inputgroup-addon">
                              <p-dropdown 
                                [options]="urlTypes" 
                                [(ngModel)]="selectedUrlType"
                                (onChange)="onUrlTypeChange($event)" 
                                class="small-dropdown" 
                                placeholder="Select Type" name="urldropdown"
                                [style]="{'width': '70px'}">
                          
                                <!-- Template for dropdown options -->
                                <ng-template let-item pTemplate="item">
                                  <i [ngClass]="item.icon" style="font-size: 1.2rem; margin-right: 5px;"></i>
                                </ng-template>
                          
                                <!-- Template for selected value -->
                                <ng-template pTemplate="selectedItem" let-selected>
                                    <!-- Display the selected icon, fall back to the first item if not selected -->
                                    <i [ngClass]="selected?.icon || urlTypes[0].icon" style="font-size: 1.2rem;"></i>
                                    {{ selected?.name || urlTypes[0].name }}
                                </ng-template>
                              </p-dropdown>
                            </span>
                          
                            <!-- Input Field -->
                              <input
                                *ngIf="selectedUrlType === 'web'"
                                type="text"  style="margin-left: 20px; width: 150px !important;"
                                pInputText name="url"
                                [(ngModel)]="advertise.url"
                                placeholder="Enter Website URL"
                                />

                                <input
                                *ngIf="selectedUrlType === 'whatsapp'"
                                type="text"  style="margin-left: 20px; width: 150px !important;"
                                pInputText name="url"
                                [(ngModel)]="advertise.url"
                                placeholder="Enter WhatsApp Number"
                                />
                          </div>

                    </div>
                    
                </div><br>
                <div class="grid">
                    <label for="adhead" class="col-12">Description</label>
                    <div class="col-12">
                        <p-editor [style]="{'height':'320px','font-size': '1rem'}" placeholder="Add description" name="description" [(ngModel)]="advertise.description"></p-editor><br><br>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-4">
                        <label>Enable Location</label>
                    </div>
                    <div class="col-8">
                        <!-- Toggle Button to Enable/Disable Location -->
                         <div>
                            <p-toggleButton
                                onLabel="On" width="10px" height="10px"
                                offLabel="Off"
                                (onChange)="onLocationToggle($event)">
                            </p-toggleButton>
                         </div>
                         <br>
                    </div>
                </div>
                @if(locationEnabled){
                    <div class="grid">
                        <label class="col-12" for="Location" >Enter Location</label>
                        <div class="col-12">
                            <textarea  pInputTextarea [style]="{'width':'250px'}" rows="5"
                            style="height: 120px;" type="text" class="form-control" id="Location" name="Location"
                            placeholder="Type here your location to Display on ad"
                             [(ngModel)]="advertise.location"></textarea><br>
                        </div>
                    </div>
                } <br>
                
                <div class="grid">
                    <div class="col-12">
                        <label>Select Advertisement background</label>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6">
                        <div class="relative backgroundselection" 
                            [ngStyle]="{'background': background1, 'color': 'white'}">
                            <i class="pi pi-plus absolute top-0 right-0 m-2" 
                            [ngClass]="{'pi-check': adBackground === 'background1', 
                            'pi-plus': adBackground !== 'background1'}"
                            (click)="onImageSelect('background1')"></i>
                        </div>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6">
                        <div class="relative backgroundselection" 
                            
                            [ngStyle]="{'background': background2, 'color': 'white'}">
                            <i class="pi pi-plus absolute top-0 right-0 m-2" 
                            [ngClass]="{'pi-check': adBackground === 'background2',
                             'pi-plus': adBackground !== 'background2'}"
                            (click)="onImageSelect('background2')"></i>
                        </div>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6">
                        <div class="relative backgroundselection" 
                            
                            [ngStyle]="{'background': background3, 'color': 'white'}">
                            <i class="pi pi-plus absolute top-0 right-0 m-2" 
                            [ngClass]="{'pi-check': adBackground === 'background3',
                             'pi-plus': adBackground !== 'background3'}"
                            (click)="onImageSelect('background3')"></i>
                        </div>
                    </div>
                    <div class="col-6 md:col-3 sm:col-6">
                        <div class="relative backgroundselection" 
                            [ngStyle]="{'background': background4, 'color': 'white'}">
                            
                            <i class="pi pi-plus absolute top-0 right-0 m-2" 
                               [ngClass]="{'pi-check': adBackground === 'background4',
                                'pi-plus': adBackground !== 'background4'}"
                               (click)="onImageSelect('background4')"></i>
                        </div>
                    </div>
                </div>
                @if (!isMobileView) {
                    <div class="grid">
                        <div class="snippet-actions">
                            <button (click)="showPreviewAdMethod()" pButton type="button" label="Preview ad" icon="pi pi-external-link" class="p-button-secondary"></button>
                        </div>
                    </div>
                    <label style="color: red;">{{showPreviewAdMethodErrorMethod}}</label><br><br>
                }
                <div class="grid">
                    <label for="adgender" class="col-12 md:col-4 sm:col-4 col-form-label">Gender</label>
                    <div class="md:col-8 sm:col-8">
                        <div class="flex align-items-center">
                            <div class="col-3 p-field-radiobutton">
                              <p-radioButton name="gender" value="Male" [(ngModel)]="advertise.gender" inputId="gender1"></p-radioButton>
                              <label for="gender1">Male</label>
                            </div>
                            <div class="col-3 p-field-radiobutton ml-3" style="margin-right: 0px;">
                              <p-radioButton name="gender" value="Female" [(ngModel)]="advertise.gender" inputId="gender2"></p-radioButton>
                              <label for="gender2">Female</label>
                            </div>
                            <div class="col-3 p-field-radiobutton ml-3" style="margin-right: 0px;">
                              <p-radioButton name="gender" value="All" [(ngModel)]="advertise.gender" inputId="gender3"></p-radioButton>
                              <label for="gender3">Every one</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="grid">
                    <div class="col-12 md:col-6 sm:col-6">
                        <label for="adhead">Enter hashtags</label>
                        <div>
                          <p-chips 
                              [(ngModel)]="hashtags" 
                              separator="," 
                              placeholder="Enter up to 5 hashtags" 
                              (onAdd)="onAddChip($event)"  name="hashtagInput"
                              >
                          </p-chips>
                          <p *ngIf="hashtags.length >= 5" class="text-danger" style="font-size: 1rem;">
                            You can only add up to 5 hashtags.
                          </p>
                        </div>
                        <div style="display: flex; padding: 5px; padding-left: 0px;" class="gap-2 justify-content-start align-items-center">
                            <p-chip 
                                *ngFor="let chip of hashtags | slice:0:5; let i = index" 
                                [style]="{'display':'flex', 'margin-right': '5px', 'margin-bottom': '5px'}" 
                                [label]="chip" 
                                [removable]="true" 
                                (onRemove)="removeChip(i)">
                            </p-chip>
                           
                        </div>
                      </div>
                      <!--
                    <div class="col-12 md:col-6 sm:col-6">
                        <label for="adcategory">Category</label>
                        <div>
                            <p-dropdown [style]="{'width':'250px'}" optionLabel="name" placeholder="Select Category" name="Category"></p-dropdown>
                        </div>
                    </div>-->
                </div><br>
                <div class="grid">
                    <div class="col-12 md:col-6 sm:col-6">
                        <label for="adhead">District</label>
                        <div>
                            <input pInputText  type="text" class="form-control" id="adsilver" name="District" placeholder="Target District" [(ngModel)]="advertise.district"><br>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 sm:col:6">
                        <label for="adhead">State</label>
                        <div>
                            <input pInputText  type="text" class="form-control" id="adsilver" name="State" placeholder="Target State" [(ngModel)]="advertise.state"><br>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 sm:col-6">
                        <label for="adhead">Country</label>
                        <div>
                            <input pInputText  type="text" class="form-control" id="adsilver" name="Country" placeholder="Target Country" [(ngModel)]="advertise.country"><br>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 sm:col-6" style="width: 100%;">
                        <label for="adhead">Enter Location PinCodes</label>
                        <div>
                           <p-chips [(ngModel)]="pincodes" separator="," name="hashtagInput"
                            placeholder="Enter location pincode where your wants to publish" name="pincodes"></p-chips>
                        </div>
                        <div style="display: flex; flex-wrap: wrap;  padding: 5px; padding-left: 0px; width: 100%;" class="gap-2 justify-content-start align-items-center">
                            <p-chip 
                                *ngFor="let chip of pincodes | slice:0:5; let i = index" 
                                [style]="{'display':'flex', 'margin-right': '5px', 'margin-bottom': '5px','width': '100%'}" 
                                [label]="chip" 
                                [removable]="true" 
                                (onRemove)="removeChip(i)">
                            </p-chip>
                        </div>
                    </div>
                </div>
                <!--
                <div class="grid">
                    <div class="col-12 md:col-6 sm:col-6">
                        <label for="adage">Age</label>
                        <div>
                            <input pInputText type="number" class="form-control" id="adage" name="age" placeholder="Enter age"><br>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 sm:col-6">
                        <label for="adlanguage">Language</label>
                        <div>
                            <input pInputText type="text" class="form-control" id="adlanguage" name="Language" placeholder="Enter Language"><br>
                        </div>
                    </div>
                </div>
                --><br>
                @if(!isEditAdvertisement){
                    <div class="grid">
                        <label for="adhead" class="col-12 md:col-4 sm:col-4 col-form-label">Advertisement Type</label>
                        <div class="col-12 md:col-8 sm:col-8 ">
                            <div class="grid">
                                <div class="col-3 md:col-3 sm:col-3">
                                    <input type="checkbox" id="paiCheckbox" [(ngModel)]="paiChecked" (change)="paiCheckbox()" name="paiChecked"> Pai's
                                </div>
                                <div class="col-3 md:col-3 sm:col-3">
                                    <input type="checkbox" id="paisaCheckbox" [(ngModel)]="paisaChecked" (change)="paisaCheckbox()" name="paisaChecked"> Paisa
                                </div>
                                <div class="col-3 md:col-3 sm:col-3">
                                    <input type="checkbox" id="freeTypeCheckbox" [(ngModel)]="freeTypeChecked" (change)="freeTypeCheckbox()" name="paisaChecked"> Free
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div *ngIf="paiChecked" class="grid">
                        <div class="col-12 md:col-6 sm:col-6">
                            <label for="adhead">Pai</label>
                            <div>
                                <input pInputText type="number" class="form-control" id="adsilver" name="silver" placeholder="Enter total Pai's" [(ngModel)]="advertise.pai"><br>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 sm:col-6">
                            <label for="adhead">Rate per Click</label>
                            <div>
                                <input pInputText type="number" class="form-control" id="adsilver" name="silverclick" placeholder="Enter Pai's per click" [(ngModel)]="advertise.paiperclick"><br>
                            </div>
                        </div> 
                    </div>   
                    <div *ngIf="paisaChecked" class="grid">
                        <div class="col-12 md:col-6 sm:col-6">
                            <label for="adhead">Paisa</label>
                            <div>
                                <input pInputText type="number" class="form-control" id="admoney" name="money" placeholder="Enter money" [(ngModel)]="advertise.paisa"><br><br>
                            </div>
                        </div>
                        <div  class="col-12 md:col-6 sm:col-6">
                            <label for="adhead">Rate Per Click</label>
                            <div>
                                <input pInputText type="number" class="form-control" id="admoney" name="moneyclick" placeholder="Enter amount per click" [(ngModel)]="advertise.paisaperclick"><br>
                            </div>
                        </div>
                    </div>
                }
                
                <h3 class="text-danger">{{message}}</h3>
                <div class="col-12">
                    <div class="flex justify-content-center align-content-center">
                        <p-button type="submit" href="advertise" class="btn btn-primary">Advertise</p-button>
                    </div>
                </div>  
            </form>
        </div>
    </div>    
</p-card>
<br>

<p-dialog [(visible)]="showPreviewAd"
 [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <div  [ngStyle]="{'background': adBackgroundSelected, 'color': 'white',
            'border-radius':'10px'}" style="padding: 10px; margin: 5px; margin-bottom: 25px;">
                <div >
                    <div class="grid">
                        <div class="col-11">
                            <label class="goldColor" style=" font-size: 2rem;">{{advertise.brandname}}</label>
                        </div>
                        <div class="col-1">
                            @if (locationEnabled) {
                                <i class="pi pi-map-marker" style="font-size: 2rem ;cursor: pointer;" ></i>
                            }
                            <i class="pi pi-ellipsis-v" style="font-size: 2rem; cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                    <div class="card-body">
                            <div>
                                <label style="font-size: 1.2rem;" [innerHTML]="advertise.description"></label>
                            </div> 
                        </div>
                    <br><br>
                </div>
                <br><br>
                <div class="footer" style="padding: 10px;">
                    <div class="grid flex gap-6 justify-content-start">
                        <div class="flex justify-content-center ">
                            <div>
                                <i class="pi pi-thumbs-up" style="font-size: 2rem; color: blue; cursor: pointer; cursor: pointer;"></i>
                                <div>
                                    <label class="goldColor">Like</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <i class="pi pi-heart" style="font-size: 2rem; color: blue; cursor: pointer;"></i>
                            <div>
                                <label class="goldColor">Share</label>
                            </div>
                        </div>
                        <div>
                            <i class="pi pi-share-alt " style="font-size: 2rem;color: blue; cursor: pointer; "></i>
                            <div>
                                <label class="goldColor">Follow</label>
                            </div>
                        </div>
                        <div>
                            <i class="pi pi-link" style="font-size: 2rem;color: blue; cursor: pointer;"></i>
                            <div>
                                <label class="goldColor">Visits</label>
                            </div>
                        </div>
                        <div>
                            <i class="pi pi-comments" style="font-size: 2rem;color: blue; cursor: pointer;"></i>
                            <div>
                                <label class="goldColor">Comment</label>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
    </ng-template>
</p-dialog>

