
@media (max-width: 600px) {
    .p-inputtext, .p-dropdown, .p-textarea, .p-calendar {
        margin: 10px;
        padding-left: 5px;
        width: 250px !important;
        height: 35px;
        font-size: 1rem;
    }
}