<div class="grid">
    <div class="flex col-12">
        <div style="display: flex; flex-wrap: wrap; margin-top: -5px; margin-bottom: -5px; padding-left: 0px;" class="gap-2 justify-content-start align-items-center">
            <ng-container *ngFor="let chip of chips | slice:0:5; let i = index">
                <p-chip
                  *ngIf="chip.label && chip.label.trim().length > 0"
                  [label]="chip.label"
                  [styleClass]="activeChipIndex === i ? 'active-chip' : 'inactive-chip'"
                  (click)="onChipClick(i)">
                </p-chip>
            </ng-container>
        </div>
        <div class="flex justify-content-end align-items-center" style="flex-grow: 1; text-align: right;">
            @if(!isMobileView){
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input style="height: 35px;"
                        pInputText style="padding-left: 30px;"
                        placeholder="Filter by pincodes"
                        (keydown.enter)="onSearch($event)" 
                    />
                </span>
            } @else {
                <span class="search-icon" *ngIf="isMobileView">
                    <i class="pi pi-search" style="font-size: 1.5rem;" (click)="toggleSearchBox()"></i>
                </span>
            }
        </div>
    </div>
        @if (showSearchBox) {
            <div class="grid">
                <div class="col-12">
                    <span class="search-box">
                        <input 
                            pInputText style="margin-left: 18px;"
                            placeholder="Filter by pincodes"
                            (keydown.enter)="onSearch($event)" 
                        />
                    </span>
                </div>
            </div>
        }
</div>


<div class="container" style="margin-top: -10px;margin-left: 10px;">
    @if (querySearch) {
        @if (advertisements.length > 0) {
            <app-homepage
            *ngFor="let ad of advertisements"
            [ad]="ad"
        ></app-homepage>
        } @else {
            <p>No advertisements found for your query.</p>
        }

    } @else {
        <app-homepage *ngFor="let ads of advertisements" [ad]="ads" (fetchData)="fetchadvertisement()"></app-homepage>
    }
</div>