
<div style="display: flex; padding: 5px; padding-left: 0px;" class="gap-2">
<p-chip
    *ngFor="let chip of chips; let i = index"
    [label]="chip.label"
    [styleClass]="activeChipIndex === i ? 'active-chip' : 'inactive-chip'"
    (click)="onChipClick(i)"
    ></p-chip>
    <div class="card flex justify-content-center">
        <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" 
        optionLabel="name"
        optionValue="value" placeholder="Select location"
        display="chip" [showClear]="true" ></p-multiSelect>
    </div>
</div>
  


<app-homepage *ngFor="let ads of advertisements" [ad]="ads" (fetchData)="fetchadvertisement()"></app-homepage>
