<div class="advertisement-info">
    <h2 class="title">Advertise on Pai Square</h2>
    <p class="info-text">To place an advertisement in the main area of Pai Square, please send an email to the address below:</p>
    <div class="email-info">
      <i class="pi pi-envelope"></i>
      <a href="mailto:paisquare.advertisements@gmail.com" class="email-address">paisquare.advertisements&#64;gmail.com</a>
    </div>
    <p class="info-text">Image size: <strong>300x600px</strong></p>
    <p class="info-text">Price per day: <strong>₹100</strong></p>
  </div>
  