.main {
    min-height: 300px; /* Adjust as needed */
  }
  
h5{
    color:arial;
}
h2{
    padding-top: 15px;
}
li{
    font-size: large;
    padding-top: 0px;
    padding-bottom: 0px;
}
ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
.advertiser{ 
    position: relative;
}
.user{
    padding-right:0px;
    position: relative;
}
.contactUs {
    position: relative;
}
.footer{
    position: relative;
}
  
.contactunderline h1 {
    position: relative;
    padding-bottom: .4rem;
  }
.contactunderline h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    height: 7px;
    background-color: yellow;
}
.contentOverImage{
    position: absolute;
    top: 3%;
    left: 8%;
    color: black;  
    width: 90%; 
}
.tab-header{
    margin-top: -15px;
    margin-bottom: 0px;
    font-size: 3.5em;
}

.logo {
    height: 60px;
    width:60px;
    align-items:left;
    cursor: pointer;
}
.custom-button{
    height: 50px;
    height: auto;
    padding: 0.5rem 1rem;
}
.responsive-image {
    width: 100%;
    height: 98vh;
    object-fit: cover;
}
.whoCanAdvertiserCard{
    width: 350px;
    height: 500px;
}

.rightimage1 {
    height:300px;
    width: 350px;
    display: block;
    mix-blend-mode: multiply;
}
.advertiserImage{
    height:300px;
    width: 350px;
    margin-top: 20px;
    display: block;
}
.leftImage3{
    height:300px;
    width: 350px;
    margin-top: 20px;
    display: block;
    mix-blend-mode: multiply;
}
.contactUsLeftImage{
    margin-top: 100px;
    height:300px;
    width: 450px;

}
.services {
    background-color: #66c4e8;
}
.advertiserList {
    list-style-type: disc;
    padding-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
.userList {
    list-style-type: disc;
    padding-left: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.servicesIcons{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    height:50px;
    width:50px;
}
.socialMediaIcons{
    height: 70px;
    width:70px;
    display: block;
    
}


label{
    color: black;
}
:host ::ng-deep .p-card {
    width: 300px;
    min-height: 300px;
}


:host ::ng-deep .p-card .p-field {
    margin-bottom: 1.5rem;
}

:host ::ng-deep .p-card .p-field label {
    display: block;
    margin-bottom: 0.5rem;
}
.infoText{
    font-size: 1.2rem;
}
.paiSquareCSS {
    margin-top: 0px;
    padding-top: 0px;  
    font-weight: 600; 
    font-size: 5rem;
    color: #F8CF40;
}
:host ::ng-deep .p-card .p-card-body {
    padding: 0rem !important;
}
.responsive-image-Contactus {
        width: 100%;
        height: 100vh; 
        object-fit: cover;
    }
@media (max-width: 768px) {
    .responsive-image {
        width: 100%;
        min-height: 80vh;
        object-fit: cover;
    }
    .responsive-image-Contactus {
        width: 100%;
        min-height: 108vh; 
        object-fit: cover;
    }
    .tab-header{
        margin-top: -15px;
        margin-bottom: 0px;
        font-size: 2rem;
    }
    .infoText{
        margin-top: 0px;
        margin-bottom: 2px;
        font-size: 0.8rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .paiSquareCSS {
        margin-top: 0px;
        padding-top: 0px;  
        font-weight: 600; 
        font-size: 3rem;
        color: #F8CF40;
    }
    :host ::ng-deep .p-card{
        margin-top: 10px;
        width: 300px;
        min-height: 300px;
    }
    .p-inputtext, .p-dropdown, .p-textarea, .p-calendar {
        padding-left: 5px;
        width: 250px !important;
        height: 35px;
        font-size:1rem;
     }
    
}