.validator{
    color: red;
}
:host ::ng-deep .p-inputtext, .p-dropdown, .p-textarea, .p-calendar, .p-inputMask, .p-chips {
    margin: 0;
    width: 250px;
    font-size:1.2rem;
}
.profile-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional: background for the no-image case */
  border-radius: 50%; /* Optional: makes it circular */
  overflow: hidden;
}
  
  img {
    border-radius: 50%; /* Makes the image circular */
  }
  
  .large-pencil {
    font-size: 48px;
    color: gray;
    cursor: pointer;
  }
  
  .hover-pencil {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: gray;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; /* Initially hidden */
  }
  