<div class="container landingnav">
    <div class="grid">
        <div class="col-8">
            <img src="../../../assets/images/landingPage/PaisquarewithLogo.jpg" alt="Logo" class="logo">
        </div>
        <div class="col-4 flex justify-content-end gap-3">
            <button pButton type="button" routerLink="/createaccount" label="Create Account" class="p-button-raised p-button-primary custom-button"></button>
            <button pButton type="button" routerLink="/login" label="Sign in" class="p-button-raised p-button-primary custom-button"></button>
        </div>
    </div>
</div>