/* Ensures the chat messages have proper alignment and styling */
.max-w-75 {
  max-width: 75%;
}

.bg-primary {
  background-color: #007ad9;
}

.bg-secondary {
  background-color: #6c757d;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}
.col-12{
  padding-top: 0px;
}