<app-landingnavbar></app-landingnavbar>
<br><br><br>
<div class="grid flex  justify-content-center ">
    <div class="md:col-5 ">
        <p-card header="Sign in">
            <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
                <div class="">
                    <div class="grid">
                        <label for="email" class="col-12 sm:col-4 col-form-label">Email</label>
                        <div class="col-12 sm:col-8">
                            <input pInputText type="email" autocomplete="email" name="email"  class="form-control" formControlName="email" placeholder="Enter email" required><br>
                            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                                <div *ngIf="loginForm.get('email')?.errors?.['required']">
                                Email is required.
                                </div>
                                <div *ngIf="loginForm.get('email')?.errors?.['email']">
                                Please enter a valid email address.
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="grid">
                        <label for="password" class="col-12 sm:col-4 col-form-label">Password</label>
                        <div class="col-12 sm:col-4">
                            <input pInputText type="password" name="password" 
                            autocomplete="current-password"  class="form-control" formControlName="password" placeholder="Enter password" required><br>
                        
                            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                                <div *ngIf="loginForm.get('password')?.errors?.['required']">
                                Password is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    @if(successMessage){
                        <h3 class="text-success text-green-500">{{message}}</h3>
                        } @else {
                        <h3 class="text-danger">{{message}}</h3>
                        }
                    <div class="col-12 text-center">
                        <p-button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid || loginButtonDisable">Login</p-button>
                    </div>
                </div>
            </form>
        </p-card> 
    </div>
</div>
<br><br><br>
