@import "~primeicons/primeicons.css";
@import '~primeflex/primeflex.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';


a{
   cursor: pointer;
}

textarea{
    width: 250px;
    resize: vertical;
}
.p-inputtext {
    box-shadow: none;
    border-width: 1px;
    border-color:#89c0eb;
    font-size:1rem;
}
.text-danger{
    color: #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.text-success{
    color: rgb(47, 185, 47);
}

.goldColor{
    color: #F8CF40;
    font-family: Arial, Helvetica, sans-serif;
}
.active-chip {
    background-color: lightgray !important;
    color: rgb(0, 0, 0) !important;
    border: none;
}

.inactive-chip {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
}
.p-chip {
    padding-left: 7px;
    padding-right: 7px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;  /* No padding transition */
  }
  
.p-chip .p-chip-text {
    padding-left: 5px;
    padding-right: 5px;
}
.p-inputtext, .p-dropdown, .p-textarea, .p-calendar {
    padding-left: 5px;
    width: 250px !important;
    height: 35px;
    font-size:1rem;
    
  }
  .p-chip {
    width: 90% !important;
    height: 25px;
    font-size:1rem;
    justify-content: center;
  }
  .p-calendar-w-btn .p-datepicker-trigger {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 35px;
  }
@media (max-width: 600px) {
    .p-inputtext, .p-dropdown, .p-textarea, .p-calendar {
      padding-left: 5px;
      width: 250px !important;
      height: 35px;
      font-size:1rem;
      
    }
    .p-calendar-w-btn .p-datepicker-trigger {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 35px;
        padding-left: 0px;
    }
}