<app-landingnavbar></app-landingnavbar>
<br>
<div class="grid flex  justify-content-center ">
  <div class="md:col-8">
    <p-card header="Create account">
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
          <div class="form-group grid-content">

            <div class="grid">
              <label for="username" class="col-12 sm:col-4 col-form-label">User name</label>
              <div class="col-12 sm:col-8">
                <input pInputText type="text" class="form-control" formControlName="username" placeholder="Enter username" autocomplete="postal-code" required><br>
                <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched" class="text-danger">
                    <div *ngIf="registrationForm.get('username')?.errors?.['required']">
                      Username is required.
                    </div>
                    @if (registrationForm.get('username')?.value?.length>15) {
                      <div>
                        Please enter username less than 15 characters
                      </div>
                    }
                </div>
              </div>
            </div>
            <br>
            <div class="grid">
              <label for="email" class="col-12 sm:col-4 col-form-label">Email</label>
              <div class="col-12 sm:col-8">
                <input pInputText type="email" class="form-control" formControlName="email" placeholder="Enter email" required><br>
                <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="text-danger">
                    <div *ngIf="registrationForm.get('email')?.errors?.['required']">
                      Email is required.
                    </div>
                    <div *ngIf="registrationForm.get('email')?.errors?.['email']">
                      Please enter a valid email address.
                    </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="grid">
              <label for="pincode" class="col-12 md:col-4 col-form-label">pincode</label>
              <div class="col-12 md:col-8">
                <p-inputMask mask="999999" class="form-control" formControlName="pincode" placeholder="Enter your location pincode"/><br>
              
                <div *ngIf="registrationForm.get('pincode')?.invalid && registrationForm.get('pincode')?.touched" class="text-danger">
                    <div *ngIf="registrationForm.get('pincode')?.errors?.['required']">
                      pincode is required.
                    </div>
                </div>
              </div>
            </div>
            <br>
            <div class="grid">
              <label for="accountType" class="col-12 md:col-4 col-form-label">Account Type</label>
              <div class="col-12 md:col-8">
                <div class="flex gap-2">
                  <div class="flex" id="accountType">
                    <p-radioButton value="advertiser" inputId="advertiser" formControlName="accountType"></p-radioButton>
                    <label for="advertiser" class="ml-2">Advertiser</label>
                  </div>
                  <div class="flex">
                    <p-radioButton value="generalUser" inputId="generalUser" formControlName="accountType"></p-radioButton>
                    <label for="generalUser" class="ml-2">General User</label>
                  </div>
                  <!--<div class="flex">
                    <p-radioButton value="both" inputId="both" formControlName="accountType"></p-radioButton>
                    <label for="both" class="ml-2">Both</label>
                  </div>-->
                </div>
                <div *ngIf="registrationForm.get('accountType')?.invalid && registrationForm.get('accountType')?.touched" class="text-danger">
                  <div *ngIf="registrationForm.get('accountType')?.errors?.['required']">
                    Account type is required.
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="grid">
                <label for="password" class="col-12 sm:col-4 col-form-label">Password</label>
                <div class="col-12 sm:col-4">
                  <input pInputText type="password" id="password" formControlName="password" placeholder="Enter password" required>
                  
                </div><br><br>
                <div class="col-12 sm:col-4">
                    <input pInputText type="password" 
                    autocomplete="new-password"  class="form-control" formControlName="confirmPassword" placeholder="Re-enter password" required><br>
                </div>
            </div>
            <div class="grid">
              <div class="col-12 md:col-8 md:col-offset-4">
                <div *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched" class="text-danger">
                  <div *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']">
                  Confirm Password is required.
                  </div>
                </div>
                <div *ngIf="registrationForm.hasError('mismatch') && registrationForm.get('confirmPassword')?.touched" class="text-danger">
                  <div>Passwords do not match.</div>
                </div>
                <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="text-danger">
                  <div *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required.</div>
                  <div *ngIf="registrationForm.get('password')?.errors?.['missingUpperCase']">
                    Password must contain at least one uppercase letter.
                  </div>
                  <div *ngIf="registrationForm.get('password')?.errors?.['missingLowerCase']">
                    Password must contain at least one lowercase letter.
                  </div>
                  <div *ngIf="registrationForm.get('password')?.errors?.['missingNumber']">
                    Password must contain at least one number.
                  </div>
                  <div *ngIf="registrationForm.get('password')?.errors?.['missingSpecialChar']">
                    Password must contain at least one special character.
                  </div>
                  <div *ngIf="registrationForm.get('password')?.errors?.['tooShort']">
                    Password must be at least 8 characters long.
                  </div>
                </div>
              </div>
            </div>
            <br>
            @if (showEmailOTPBox) {
              <div class="grid">
                <div class="col-12 md:col-4 col-form-label">
                  <label for="emailOTP">Email OTP</label>
                </div>
                <div class="col-12 md:col-8">
                  <p-inputMask mask="999999" type="text" class="form-control" formControlName="emailOTP" placeholder="Enter OTP"/><br>
                </div>
              </div>
            }
            @if(successMessage){
              <span class="text-success text-green-500">{{message}}</span>
            } @else {
              <span class="text-danger">{{message}}</span>
            }
            @if (!showEmailOTPBox) {
              <div class="col-12 text-center">
                <p-button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid || createaccoutButtonClicked">Create Account</p-button>
                @if(createaccoutButtonClicked && !successMessage){
                  Sending OTP...
                } 
              </div>
            } @else{
              <div class="col-12 text-center">
                <p-button type="button" (onClick)="verifyOTP()" class="btn btn-primary" [disabled]="!registrationForm.valid || disableverifyOTPButton" >Verify OTP</p-button>
              </div>
            }
          </div>
        </form>
      </div>
    </p-card>
  </div>
</div>
<br><br>
